/* Global Styles */

/* Small Screens */
@media only screen and (min-width : 768px) {
}

/* Medium Screens */
@media only screen and (min-width : 992px) {
}

/* Large Screens */
@media only screen and (min-width : 1200px) {
}
